.home-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  align-items: center;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form > button.button {
  margin-left: 16px;
}

[type='text'] {
  font-size: 40px;
  width: 35%;
  min-width: 250px;
  padding-left: 5px;
}

.error {
  color: red;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
