.home-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  align-items: center;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form button {
  margin-left: 16px;
}

[type='text'] {
  font-size: 50px;
  width: 35%;
}
