.App {
  /* background-color: red; */
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.animated-background {
  background: linear-gradient(179deg, #87cefa, #e69f65);
  background-size: 200% 200%;
  -webkit-animation: BGTransition 15s ease infinite;
  -moz-animation: BGTransition 15s ease infinite;
  animation: BGTransition 15s ease infinite;
}

@-webkit-keyframes BGTransition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes BGTransition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes BGTransition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.element {
  height: 0;
  width: 0;
  margin: 0 auto;
  background-color: red;
  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
/* .element::before {
  content: 'hello world';
  position: absolute;
  top: 50%;
  right: 50%;
} */

@keyframes stretch {
  0% {
    transform: scale(0);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1);
    background-color: yellow;
  }
}

/* 
** Primary
font-family: 'Grand Hotel', cursive;

** Secondary
font-family: 'Open Sans', sans-serif;
*/

h1 {
  font-family: 'Grand Hotel', cursive;
  margin: 0;
}
